{% block content %}
    <h1>{% block title %} Add a New Movie {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="title">Title</label>
            <input type="text" name="title">
        </p>

        <p>
            <label for="year">When was it released?</label>
            <input type="text" name="year">
        </p>

        <p>
            <label for="genre">Genre</label>
            <select id="genre" name="genre">
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="comedy">Comedy</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="drama">Romance</option>
                <option value="western">Western</option>
                <option value="science-fiction">Sci-Fi</option>
            </select>
        </p>

        <p>
            <label for="rating">What's the movie's rating?</label>
            <input type="text" name="rating">
        </p>

        <p>
            <label for="image">URL of the movie's poster?</label>
            <input type="text" name="image">
        </p>


        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}