<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
    <title>Movies API</title>
</head>
<body>
{% extends "index.html" %}
{% block content %}
    <button> <a href="/movies/create">Or create your own:</a></button>
    <div class = "movie-content">
        {% for movie in movies %}
            <a href="http://localhost:5000/movies/{{movie.id}}">
            <div class = "movie">
                <img src="{{ movie.image }}" alt="movie image">
                <h3>{{ movie.title }}</h3>
            </div>
            </a>
        {% endfor %}
    <br>
    <div class = "pagination">
        {% if page > 1 %}
            <a href="/movies?page={{ page - 1 }}">&laquo; Previous</a>
        {% endif %}
        {% if page < pages %}
            <a href="/movies?page={{ page + 1 }}">Next &raquo;</a>
        {% endif %}
    </div>

    </div>
{% endblock %}

    
</body>
</html>